.spacer{
  margin-bottom: 10%;
}

.container {
  background-color: black;
  opacity: 0.96;
  height: 100%;
}

.body{
  background-image: url(../src/images/Akali.jpg);
  background-repeat: repeat-x;
  background-size: cover;
  height: 100%;
}

.belowSearchBar{

    color: white;
}

.header{

  color: white;
}
